<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>저항 계산기</title>
    <script>
        async function sendNumbers(event) {
            event.preventDefault();
            const formData = new FormData(event.target);

            const response = await fetch("/calculate", {
                method: "POST",
                body: formData,
            });
            const result = await response.json();
            document.getElementById("result").innerText = `저항 : ${result.result}`;
        }
    </script>
</head>
<body>
    <h1>저항 계산기</h1>
    <form onsubmit="sendNumbers(event)">
        <label for="volt">전압:</label>
        <input type="number" name="volt" id="volt">
        <br><br>
        <label for="current">전류:</label>
        <input type="number" name="current" id="current">
        <br><br>
        <button type="submit">계산</button>
    </form>
    <h2 id="result"></h2>
</body>
</html>
